@import "@/assets/styles/colors";
@import "@/assets/styles/typography";
@import "@/assets/styles/mixins";

body {
  background-color: $color-primary-red;
  background-image: url("@/assets/images/bg-intro-mobile.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;

  @media screen and (min-width: 1440px) {
    background-image: url("@/assets/images/bg-intro-desktop.png");
  }
}


.container {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  display: grid;
  grid-template-rows: 23.5rem auto;
  max-width: 327px;
  margin-bottom: 1rem;

  header {
    display: grid;
    grid-template-rows: 6rem auto;
    margin-top: 5.7rem;
    color: white;
    text-align: center;

    h1 {
      font-size: 28px;
      font-weight: $font-bold;
      letter-spacing: -0.29px;
      line-height: 36px;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0;
      line-height: 26px;
      text-align: center;
    }
  }

  main {
    display: grid;
    grid-row-gap: 1.3rem;
    grid-template-rows: 5.7rem auto;

    .form {
      @include shadow-effect;

      display: grid;
      grid-row-gap: 1rem;
      grid-template-rows: auto auto auto auto 56px auto;
      min-height: 442px;
      padding: 1.5rem;
      border-radius: 0.75rem;
      background-color: white;
    }
  }
}

@media screen and (min-width: 1440px) {
  .sign-up-form {
    grid-column-gap: 0;
    grid-template-columns: 525px 540px;
    max-width: unset;
    height: 100vh;
    place-items: center;
    place-content: center;
    margin-bottom: unset;

    header {
      display: grid;
      grid-row-gap: 3rem;
      grid-template-rows: 6rem auto;
      margin-top: 0;
      text-align: left;

      h1 {
        font-size: 50px;
        font-weight: $font-bold;
        letter-spacing: -0.52px;
        line-height: 55px;
      }

      p {
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 26px;
        text-align: left;
      }
    }

    main {
      grid-row-gap: 1.3rem;
      grid-template-rows: 3.75rem auto;
    }
  }
}
