@import "@/assets/styles/colors";
@import "@/assets/styles/typography";
@import "@/assets/styles/mixins";

body {
  background-color: $color-primary-red;
  background-image: url("@/assets/images/bg-intro-mobile.png");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;

  @media screen and (min-width: 1440px) {
    background-image: url("@/assets/images/bg-intro-desktop.png");
  }
}


.container {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  display: grid;
  grid-template-rows: 23.5rem auto;
  max-width: 20.438rem;
  margin-bottom: 1rem;

  header {
    display: grid;
    grid-template-rows: 6rem auto;
    margin-top: 5.7rem;
    color: white;
    text-align: center;

    h1 {
      font-size: 28px;
      font-weight: $font-bold;
      letter-spacing: -0.0181rem;
      line-height: 2.25rem;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0;
      line-height: 1.625rem;
      text-align: center;
    }
  }

  main {
    display: grid;
    grid-row-gap: 1.3rem;
    grid-template-rows: 5.7rem auto;

    .form {
      @include shadow-effect;

      display: grid;
      grid-row-gap: 1rem;
      grid-template-rows: auto auto auto auto 56px auto;
      min-height: 27.625rem;
      padding: 1.5rem;
      border-radius: 0.75rem;
      background-color: white;
    }
  }
}

@media screen and (min-width: 1440px) {
  .sign-up-form {
    grid-column-gap: 2rem;
    grid-template-columns: 33.188rem 33.75rem;
    max-width: unset;
    height: 100vh;
    margin-top: 0.8rem;
    margin-bottom: unset;
    place-items: center;
    place-content: center;

    header {
      display: grid;
      grid-row-gap: 2rem;
      grid-template-rows: auto auto;
      justify-content: space-between;
      margin-top: 0;
      text-align: left;

      h1 {
        font-size: 3.125rem;
        font-weight: $font-bold;
        letter-spacing: -0.0325rem;
        line-height: 3.438rem;
      }

      p {
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.625rem;
        text-align: left;
      }
    }

    main {
      grid-row-gap: 1.3rem;
      grid-template-rows: 3.75rem auto;
      min-width: 33.75rem;

      .form {
        min-height: 29.625rem;
        padding: 2.2rem 2.5rem;
      }
    }
  }
}
