@import "@/assets/styles/colors";
@import "@/assets/styles/typography";

body {
  background-color: $color-primary-red;
  background-image: url("@/assets/images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media screen and (min-width: 1440px) {
    background-image: url("@/assets/images/bg-intro-desktop.png");
  }
}


.container {
  margin: 0 1rem;
}

.sign-up-form {
  display: grid;
  grid-template-rows: 23.5rem auto;

  header {
    display: grid;
    grid-template-rows: 6rem auto;
    margin-top: 5.7rem;
    color: white;
    text-align: center;

    h1 {
      font-size: 28px;
      font-weight: $font-bold;
      letter-spacing: -0.29px;
      line-height: 36px;
    }

    p {
      font-size: 1rem;
      letter-spacing: 0;
      line-height: 26px;
      text-align: center;
    }
  }

  main {
    display: grid;
    grid-row-gap: 1.3rem;
    grid-template-rows: 5.7rem auto;

    .form {
      display: grid;
      grid-row-gap: 1rem;
      grid-template-rows: auto auto auto auto 56px auto;
      max-height: 442px;
      padding: 1.5rem;
      border-radius: 0.75rem;
      background-color: white;
    }
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-width: 100vw;

    header {
      text-align: left;

      h1 {
        font-size: 50px;
        font-weight: $font-bold;
        letter-spacing: -0.52px;
        line-height: 55px;
      }
    }
  }
}
