@import "@/assets/styles/colors";
@import "@/assets/styles/typography";

.terms-agreement {
  padding: 0 1rem;
  color: $color-neutral-grayish-blue;
  font-size: 0.688rem;
  letter-spacing: 0;
  line-height: 1.313rem;
  text-align: center;

  a {
    color: $color-primary-red;
    font-weight: $font-semibold;
    text-decoration: none;
  }
}
