@import "@/assets/styles/colors";
@import "@/assets/styles/typography";
@import "@/assets/styles/mixins";

.trial-period-cta {
  @include shadow-effect;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 4rem;
  border-radius: 0.75rem;
  background-color: $color-accent-blue;
  color: white;
  text-align: center;

  strong {
    font-weight: $font-semibold;
  }
}
