$color-primary-red: hsl(0deg 100% 74%);
$color-primary-green: hsl(154deg 59% 51%);
$color-accent-blue: hsl(248deg 32% 49%);
$color-neutral-dark-blue: hsl(249deg 10% 26%);
$color-neutral-grayish-blue: hsl(246deg 25% 77%);
